{{prefix | pascalcase }} Endpoints
======================================

The endpoint descriptions for sync and async endpoints are basically the same, since they are 
autogenrated from the same file. The only difference is the "async" part for async endpoints.

.. note::
  For all endpoints, instead of using the matterapi models you can also pass a dict containing the key:value pairs.

.. toctree::
  :maxdepth: 2
  :caption: Available Endpoints:

  {% for tag in tags | sort %}
  {{prefix}}_{{ tag | snakecase }}
  {% endfor %}

