""" Contains some shared types for properties """
from typing import BinaryIO, Generic, MutableMapping, Optional, TextIO, Tuple, TypeVar, Union, Any

from pydantic import BaseModel

class BaseConfig(BaseModel):

  class Config:
      extra = 'allow'
      exclude_defaults = True
      fields = {'fields': 'fields_'}

{# Used as `FileProperty._json_type_string` #}
FileJsonType = Tuple[Optional[str], Union[BinaryIO, TextIO], Optional[str]]

class FileInfo(BaseModel):
    """ Contains information for file uploads """

    payload: Union[BinaryIO, TextIO]
    file_name: Optional[str] = None
    mime_type: Optional[str] = None

    class Config:
        arbitrary_types_allowed = True

    def to_tuple(self) -> FileJsonType:
        """ Return a tuple representation that httpx will accept for multipart/form-data """
        return self.file_name, self.payload, self.mime_type


File = Union[FileInfo,FileJsonType,Any]


__all__ = ["BaseConfig", "File", "FileInfo"]
