from typing import Any, Dict, List, Optional, Union, cast
from ..base import ApiBaseClass
from pydantic import BaseModel

{% for endpoint in collection.endpoints %}
{% for relative in endpoint.relative_imports %}
{{ relative }}
{% endfor %}
{% endfor %}

{% from "endpoint_macros.py.jinja" import header_params, cookie_params, query_params, json_body, return_type, arguments, client, kwargs, parse_response %}

class {{tag}}Api(ApiBaseClass):
    """ {{description}} """

{% for endpoint in collection.endpoints %}
{% set return_string = return_type(endpoint) %}
{% set parsed_responses = (endpoint.responses | length > 0) and return_string != "None" %}


    def {{endpoint.name | snakecase}}(self,
    {{ arguments(endpoint) | indent(8) }}
    ) -> {{ return_string | indent(8)}}:
        """{{ endpoint.summary | indent(8)}}

        {{ endpoint.description | indent(8)}} 
        """

        url = "{}{{ endpoint.path }}".format(
            self.client.base_url
            {%- for parameter in endpoint.path_parameters -%}
            ,{{parameter.name}}={{parameter.python_name}}
            {%- endfor -%}
        )
        headers: Dict[str, Any] = self.client.get_headers()
        cookies: Dict[str, Any] = self.client.get_cookies()
        {% if endpoint.header_parameters %}
        {{header_params(endpoint) | indent(8)}}
        {% endif %}
        {% if endpoint.cookie_parameters %}
        {{cookie_params(endpoint) | indent(8)}}
        {% endif %}
        {% if endpoint.query_parameters %}
        {{query_params(endpoint) | indent(8)}}
        {% endif %}
        {% if endpoint.json_body %}
        {{json_body(endpoint) | indent(8)}}
        {% endif %}

        {% if endpoint.multipart_body_reference %}
        multipart_body_data = {{ endpoint.multipart_body_reference.reference.class_name}}.parse_obj({{ endpoint.multipart_body_reference.python_name}})
        {% endif %}

        request_kwargs = {
            "url": url,
            "headers": headers,
            "cookies": cookies,
            {#- "timeout": self.client.get_timeout(), -#}
            {% if endpoint.form_body_reference %}
            "data": {{ endpoint.form_body_reference.python_name}},
            {% endif %}
            {% if endpoint.multipart_body_reference %}
            "data": multipart_body_data.get_data(),
            {% if file_properties %}
            "files": multipart_body_data.get_files(),
            {% endif %}
            {% endif %}
            {% if endpoint.json_body %}
            "json": {{ "json_" + endpoint.json_body.python_name }},
            {% endif %}
            {% if endpoint.query_parameters %}
            "params": params,
            {% endif %}
        }

        response = self.client.{{ endpoint.method }}(
            **request_kwargs,
        )

        if self.skip_response_parsing == True:
            return response

        {% for response in endpoint.responses %}
        {% if response.source != "None" %}
        if response.status_code == {{ response.status_code }}:
        {% if response.prop.template %}
            {% from "property_templates/" + response.prop.template import construct %}
            {{ construct(response.prop, response.source) | indent(12) }}
            {% else %}
            {{ response.prop.python_name }} = {{ response.source }}
            {% endif %}
            return {{ response.prop.python_name }}
        {% endif %}
        {% endfor %}
        return response

{% endfor %}
